
div img{
    width: 100%;
}

div p{
    margin: 5px;
}

/* ABSTRACT STYLES */
article{
    margin: 20px 70px;
}
article h1{
    font-size: 30px;
}
article p{
    text-indent: 20px;
    font-size: 20px;
}

