article{
    margin: auto 30px;
}
article p{
    text-indent: 20px;
    font-size: 20px;
}
article h3{
    margin: 18px auto 10px auto;
    font-size: 25px;
}
article h2{
    font-size: 30px;
}
article h4{
    font-size: 22px;
}
/*IMAGES FOR Intro*/
div.topologyimg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#circle{
    max-height: 100px;
    max-width: 100px;
}
#square{
    max-width: 100px;
    max-height: 100px;
}

/* IMAGES FOR MANIFOLDS */
div.manifoldimg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
div.image{
    display: flex;
    flex-direction: column;
}
#circleimg{
    max-width: 100px;
    max-height: 100px;
}
#figure8img{
    max-width:150px;
    max-height: 100px;
}
#torus2{
    max-width: 200px;
    max-height: 200px;
}
#flatTorus{
    max-width: 350px;
    max-height: 200px;
}
#klienBottle{
    max-width: 150px;
    max-width: 100px;
}
#twoSphere{
    max-width: 170px;
}
#torusRepresentation{
    max-width: 400px;
    max-height: 300px;
}
#hypersphereimg{
    max-width: 300px;
    max-width: 300px;
}
#mobiusStrip{
    max-width: 300px;
    max-height:300px;
}
#hemisphere{
    max-width: 300px;
}
#sphereRotated{
    rotate: 90deg;
    offset-rotate: 90deg;
}
#euclideanTriangle, #sphericalTriangle{
    max-width: 200px;
}
#yarnImg,#poincareDisk{
    max-width: 200px;
}
#hyperbolicTriangle
{
    max-height: 200px;
}