article{
    margin: auto 30px;
}
article p{
    text-indent: 20px;
}
article h3{
    margin: 18px auto 10px auto;
}

/*IMAGES FOR ORIENTATION*/
div.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#torusimg{
    max-height: 300px;
    max-width: 300px;
}
#kleinbottleimg{
    max-width: 300px;
    max-height: 300px;
}

/*SIDEDNESS*/
#sidedness{
    display: flex;
    flex-flow: row wrap;
}
#sidedness > p{
    max-width: 50%;
}
#mobiusimg{
    max-width: 20%;
    margin-left: 100px;
}